@charset "UTF-8";

:root {
    --cor-1: #d4549a; 
    --cor-2: #ff69b4;
    --cor-3: #fa1f0b;
    --cor-4: #666;
    --cor-5: #520447;
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: var(--cor-1);
    color: #fff;
    height: 120px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
    font-family: "Protest Revolution", sans-serif;
    
}


header .logo h1 {
    font-size: 30px;
    margin: 0;
    font-family:  'Great Vibes', cursive;
    color: white;
    
}

#menu {
    display: flex; /* O menu será exibido lado a lado */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static; /* Posição padrão */
    background: none; /* Sem fundo adicional */
    transform: none; /* Remove efeitos de ocultação */
    
  }

  #menu li {
    margin: 0 10px; /* Espaço entre itens do menu */
  }

  .hamburger {
    display: none; /* Oculte o hambúrguer em telas grandes */
}




ul {
    list-style: none;
    top: 40px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    display: flex; /* O menu será exibido lado a lado */
    flex-direction: row;
    justify-content: center;
    position: static; /* Posição padrão */
    background: none; /* Sem fundo adicional */
    transform: none; /* Remove efeitos de ocultação */
    transition: all 0.3s ease; /* Suaviza a transição */
}


ul li {
    margin: 10px 0;
    
}

ul li a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    gap: 15px;
    padding: 10px;
      
}


.menu-oculto li {
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-oculto li:hover {
    background-color: var(--cor-2);
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra maior */
    transform: translateY(-5px); /* Combinação com elevação */
    transition: all 0.3s ease; /* Suavidade */
    
}


 /* Chamada para ação */
 .call-to-action {
    color: var(--cor-5);
    text-align: center;
    padding: 40px 20px;
    height: 140px;
    
  }
  
  .call-to-action h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  
  .call-to-action p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .call-to-action .btn {
    background-color: #fff;
    color: #ff66b2;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .call-to-action .btn:hover {
    background-color: var(--cor-5);
  }



main section h2 {
    color: #520447;
    font-weight: bold;
}

.banner {
    background-color: #fabef2;
    color: var(--cor-5);
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.product-list {
    padding: 20px;
    text-align: center;
}

.product-list h2 {
    margin-bottom: 20px;
}

.product-list .product {
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);;
}

.product img {
    width: 180px; 
    height: 180px; 
    object-fit: cover; 
    border-radius: 5px; 
}

.product h3 {
    margin: 10px 0px;
    font-size:  1.2em;
    color: var(--cor-5);
}

.product p {
    font-size: 1rem;
    color: #520447;
    font-weight: bold;
}

.product button {
    padding: 10px;
    background-color: var(--cor-2);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}
.product button:hover {
    background-color: var(--cor-5);
}

/* Efeito de hover nos produtos */
.product:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Estilos do modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    width: 300px;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}

/* Estilos do formulário */
#newsletter-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#newsletter-form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#newsletter-form button:hover {
    background-color: #0056b3;
}

/* Mensagem de sucesso */
#success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

.hidden {
    display: none;
}


/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

  footer a {
    color: #ff66b2;
    text-decoration: none;
    margin: 0 10px;
    
}
  
  footer a:hover {
    text-decoration: underline;
    
}

