@charset "UTF-8";

:root {
    --cor-1: #d4549a; 
    --cor-2: #ff69b4;
    --cor-3: #fa1f0b;
    --cor-4: #666;
    --cor-5: #520447;
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: var(--cor-1);
    color: #fff;
    height: 120px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
    font-family: "Protest Revolution", sans-serif;
    
}


header .logo h1 {
    font-size: 27px;
    margin: 0;
}

ul {
    list-style: none;
    top: 40px;
    right: 0;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--cor-5);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease; /* Suaviza a transição */
}


ul li {
    margin: 10px 0;
    
}

ul li a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    gap: 15px;
    padding: 10px;
      
}


.menu-oculto li {
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-oculto li:hover {
    background-color: var(--cor-2);
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra maior */
    transform: translateY(-5px); /* Combinação com elevação */
    transition: all 0.3s ease; /* Suavidade */
    
}


 /* Chamada para ação */
 .call-to-action {
    color: var(--cor-5);
    text-align: center;
    padding: 40px 20px;
    height: 140px;
    
  }
  
  .call-to-action h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  
  .call-to-action p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .call-to-action .btn {
    background-color: #fff;
    color: #ff66b2;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .call-to-action .btn:hover {
    background-color: var(--cor-5);
  }



main section h2 {
    color: #520447;
    font-weight: bold;
}

.banner {
    background-color: #fabef2;
    color: var(--cor-5);
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.product-list {
    padding: 20px;
    text-align: center;
}

.product-list h2 {
    margin-bottom: 20px;
}

.product-list .product {
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);;
}

.product img {
    width: 180px; 
    height: 180px; 
    object-fit: cover; 
    border-radius: 5px; 
}

.product h3 {
    margin: 10px 0px;
    font-size:  1.2em;
    color: var(--cor-5);
}

.product p {
    font-size: 1rem;
    color: #520447;
    font-weight: bold;
}

.product button {
    padding: 10px;
    background-color: var(--cor-2);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.product button:hover {
    background-color: var(--cor-5);

}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

  footer a {
    color: #ff66b2;
    text-decoration: none;
    margin: 0 10px;
    
}
  
  footer a:hover {
    text-decoration: underline;
    
}

