
<header>
    <a href="/index.html" class="logo">ARSN Loja Virtual</a>

    <h1 id="titulo-pagina"></h1>

    <nav>
        <div class="hamburger" onclick="toggleMenu()">
            <i class="fas fa-bars"></i>
        </div>

        <ul id="menu" class="menu-oculto">

            <li>
                <a href="/links/Produtos.html">PRODUTOS</a>
            </li>

            <li>
                <a href="/links/qsomos.html">QUEM SOMOS</a>
            </li>

            <!-- Área do usuário -->
            <li id="area-usuario">
                <a href="/links/log.html">
                    <i class="fas fa-user"></i>
                    CADASTRO/LOGIN
                </a>
            </li>

        </ul>
    </nav>
</header>