
#logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#logo .logo {
    font-size: 30px;
    margin: 0;
    font-family: 'Great Vibes', cursive;
    color: white;
    text-decoration: none;
}