@charset "UTF-8";

:root {
    --cor-1: #d4549a; 
    --cor-2: #ff69b4;
    --cor-3: #fa1f0b;
    --cor-4: #666;
    --cor-5: #520447;
  }



.form-login {
    max-width: 400px;
    margin: 20px auto;
    padding: 15px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: none; /* Oculto inicialmente */
}

.form-login.oculto {
    display: none;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background: #8b0000;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-login:hover {
    background: #a52a2a;
}