@charset "UTF-8";

:root {
    --cor-1: #d4549a; 
    --cor-2: #ff69b4;
    --cor-3: #fa1f0b;
    --cor-4: #666;
    --cor-5: #520447;
  }

  * {
    margin: 0px;
    padding: 0px;
  }

  body, html {
    font-family: 'Arial', sans-serif;
  }


  .parallax {
    background-image: url('../Imagens/eb30851b-f1a1-407c-82db-a0c4cab257d3.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
  }

  .texto-central {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.641); /* Fundo semitransparente */
    padding: 20px;
    border-radius: 10px;
  }

  section > article {
    font-family: 5px;
  }

  .especial {
    font-family: "Protest Revolution", sans-serif;
  }

  .texto-central h2 {
    margin: 0;
    font-size: 2.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.texto-central p {
    font-size: 1.2rem;
    margin: 10px 0 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

  .conteudo h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
  }

  .conteudo p {
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
  }
  


/* Rodapé */
footer {
    bottom: 50%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

  footer a {
    color: #ff66b2;
    text-decoration: none;
    margin: 0 10px;
    
}
  
  footer a:hover {
    text-decoration: underline;
    
}
